{% extends 'xul/page.html'%}
{% block popupset %}
  <xul:menupopup id="popupset">
    <xul:menuitem label="Cut"/>
    <xul:menuitem label="Copy"/>
    <xul:menuitem label="Paste"/>
  </xul:menupopup>
{% endblock %}
{% block xul %}
<xul:hbox flex='1'>
 <xul:tree type="checkbox" context="popupset" flex='1'>
    <xul:treecols>
      <xul:treecol id="firstname" minwidth="200" width="400" label="First Name" primary="true"/>
      <xul:treecol id="lastname" minwidth="500" label="Last Name"/>
    </xul:treecols>
    <xul:treebody >
      <xul:treechildren>
        <xul:treeitem open="true" container="true">
        <xul:treerow>
            <xul:treecell label="Guys"/>
            <xul:treecell label="Test"/>
          </xul:treerow>
          <xul:treechildren>
            <xul:treeitem>
              <xul:treerow>
                <xul:treecell label="Bob"/>
                <xul:treecell label="Carpenter"/>
              </xul:treerow>
            </xul:treeitem>
            <xul:treeitem open="true" container="true">
              <xul:treerow>
                <xul:treecell label="Jerry"/>
                <xul:treecell label="Hodge"/>
              </xul:treerow>
              <xul:treechildren>
                <xul:treeitem>
                  <xul:treerow>
                    <xul:treecell label="Bob"/>
                    <xul:treecell label="Carpenter"/>
                  </xul:treerow>
                </xul:treeitem>
                <xul:treeitem>
                  <xul:treerow>
                    <xul:treecell label="Jerry"/>
                    <xul:treecell label="Hodge"/>
                  </xul:treerow>
                </xul:treeitem>
              </xul:treechildren>
            </xul:treeitem>
            <xul:treeitem>
              <xul:treerow>
                <xul:treecell label="Pink"/>
                <xul:treecell label="Floyd"/>
              </xul:treerow>
            </xul:treeitem>
          </xul:treechildren>
        </xul:treeitem>
        <xul:treeitem open="true" container="true">
        <xul:treerow>
            <xul:treecell label="Guys"/>
            <xul:treecell label="Test"/>
          </xul:treerow>
          <xul:treechildren>
            <xul:treeitem>
              <xul:treerow>
                <xul:treecell label="Bob"/>
                <xul:treecell label="Carpenter"/>
              </xul:treerow>
            </xul:treeitem>
            <xul:treeitem open="true" container="true">
              <xul:treerow>
                <xul:treecell label="Jerry"/>
                <xul:treecell label="Hodge"/>
              </xul:treerow>
              <xul:treechildren>
                <xul:treeitem>
                  <xul:treerow>
                    <xul:treecell label="Bob"/>
                    <xul:treecell label="Carpenter"/>
                  </xul:treerow>
                </xul:treeitem>
                <xul:treeitem>
                  <xul:treerow>
                    <xul:treecell label="Jerry"/>
                    <xul:treecell label="Hodge"/>
                  </xul:treerow>
                </xul:treeitem>
              </xul:treechildren>
            </xul:treeitem>
            <xul:treeitem>
              <xul:treerow>
                <xul:treecell label="Pink"/>
                <xul:treecell label="Floyd"/>
              </xul:treerow>
            </xul:treeitem>
          </xul:treechildren>
        </xul:treeitem>
        <xul:treeitem open="true" container="true">
        <xul:treerow>
            <xul:treecell label="Guys"/>
            <xul:treecell label="Test"/>
          </xul:treerow>
          <xul:treechildren>
            <xul:treeitem>
              <xul:treerow>
                <xul:treecell label="Bob"/>
                <xul:treecell label="Carpenter"/>
              </xul:treerow>
            </xul:treeitem>
            <xul:treeitem open="true" container="true">
              <xul:treerow>
                <xul:treecell label="Jerry"/>
                <xul:treecell label="Hodge"/>
              </xul:treerow>
              <xul:treechildren>
                <xul:treeitem>
                  <xul:treerow>
                    <xul:treecell label="Bob"/>
                    <xul:treecell label="Carpenter"/>
                  </xul:treerow>
                </xul:treeitem>
                <xul:treeitem open="true" container="true">
                  <xul:treerow>
                    <xul:treecell label="Jerry"/>
                    <xul:treecell label="Hodge"/>
                  </xul:treerow>
                  <xul:treechildren>
                    <xul:treeitem>
                      <xul:treerow>
                        <xul:treecell label="Bob"/>
                        <xul:treecell label="Carpenter"/>
                      </xul:treerow>
                    </xul:treeitem>
                    <xul:treeitem>
                      <xul:treerow>
                        <xul:treecell label="Jerry"/>
                        <xul:treecell label="Hodge"/>
                      </xul:treerow>
                    </xul:treeitem>
                  </xul:treechildren>
                </xul:treeitem>
              </xul:treechildren>
            </xul:treeitem>
            <xul:treeitem>
              <xul:treerow>
                <xul:treecell label="Pink"/>
                <xul:treecell label="Floyd"/>
              </xul:treerow>
            </xul:treeitem>
          </xul:treechildren>
        </xul:treeitem>
      </xul:treechildren>
    </xul:treebody>
  </xul:tree>
</xul:hbox>
{% endblock %}