include MANIFEST.in
include README.rst
include distribute_setup.py
include setup.py
recursive-include docs *
recursive-include example *
recursive-include test *

recursive-include swarm_crawler/serve/templates *
recursive-include swarm_crawler/serve/static *